.container(ng-controller="AppController")
  %header
    %h1.container A Curated List of Resources for Ruby and Rails Learning
  %section#navigation
    %ul#type
      %li
        %input(type="checkbox" name="type" checked)
        %label Ruby
      %li
        %input(type="checkbox" name="type" checked)
        %label Rails
    %ul.nav.nav-pills#mode
      %li.active
        %a(href='#') All
      %li
        %a(href='#') Classroom Based
      %li
        %a(href='#') Online Tutored
      %li
        %a(href='#') Online Self Study
      %li
        %a(href='#') Online Tutorials

  %section#resources
    %ul
      %li
        %img(src='/images/dummy.png')
        %dl
          %dt
            %h4 Rails Tutors
            %a(href="http://railstutors.com")
              http://railstutors.com
          %dd
            %b Format:
            %p Video lectures, live coding sessions, online forum, chat room and office hours
            %b Cost:
            %p $295 regular / $250 early bird
            %b Duration:
            %p 4 weeks
            %b Coverage:
            %p From zero prior experience to launching a Rails app
