.container(ng-controller="AppController")
  %header
    %h1.container A Curated List of Resources for Ruby and Rails Learning
  %section#navigation.hero-unit
    %dl.row
      %dt What do you want to learn?
      %dd.span1(ng-repeat="topic in topics" ng-click="selectTopic(topic)")
        %span(ng-class="topicClass(topic)") {{topic}}
    %dl.row
      %dt How would you like to learn?
      %dd.span1(ng-repeat="category in categories" ng-click="selectCategory(category)" )
        %span(ng-class="categoryClass(category)") {{category}}
    %dl#courses
      %dt What type of courses?
      %dd All
      %dd Classroom Based Training
      %dd Online Tutored
      %dd Online Self-study
      %dd Bootcamps
    %dl#costs
      %dt How much are you willing to spend?
      %dd All
      %dd Free
      %dd &lt; 100
      %dd 100 ~ 300
      %dd &gt; 300

  %section#resources.row
    %ul
      %li(ng-repeat= "resource in resources | whatToLearnFilter:topicSelected| howToLearnFilter:categorySelected")
        %img(ng-src="/images/snapshots/{{resource.slug}}.png")
        %dl
          %dt
            %h4 {{resource.name}}
            %a(href="{{resource.url}}")
              {{resource.url}}
          %dd
            %ul
              %li(ng-show="resource.format.length > 0")
                %b Format:
                %p {{resource.format}}
              %li(ng-show="resource.cost.length > 0")
                %b Cost:
                %p {{resource.cost}}
              %li(ng-show="resource.duration.length > 0")
                %b Duration:
                %p {{resource.duration}}
              %li(ng-show="resource.description.length > 0")
                %b Description:
                %p {{resource.description}}
