.container(ng-controller="AppController")
  %header
    %h1.container A Curated List of Resources for Ruby and Rails Learning
  %section#navigation
    %ul#filters
      %li
        %dl(ng-init="whatToLearn = ''")
          %dt What do you want to learn?
          %dd(ng-click="whatToLearn = ''") Both
          %dd(ng-click="whatToLearn = 'ruby'") Ruby
          %dd(ng-click="whatToLearn = 'rails'") Rails
        %dl
          %dt How would you like to learn?
          %dd All
          %dd Courses
          %dd Online Tutorials
          %dd Books
        %dl#courses
          %dt What type of courses?
          %dd All
          %dd Classroom Based Training
          %dd Online Tutored
          %dd Online Self-study
          %dd Bootcamps
        %dl#costs
          %dt How much are you willing to spend?
          %dd All
          %dd Free
          %dd &lt; 100
          %dd 100 ~ 300
          %dd &gt; 300

  %section#resources
    %ul
      %li(ng-repeat= "resource in resources | whatToLearnFilter:whatToLearn")
        %img(src="/images/snapshots/{{resource.slug}}.png")
        %dl
          %dt
            %h4 {{resource.name}}
            %a(href="{{resource.url}}")
              {{resource.url}}
          %dd
            %b Format:
            %p {{resource.format}}
            %b Cost:
            %p {{resource.cost}}
            %b Duration:
            %p {{resource.duration}}
            %b Coverage:
            %p {{resource.coverage}}
