.container(ng-controller="AppController")
  %header
    %h1.container A Curated List of Resources for Ruby and Rails Learning
  %section#navigation
    %ul#type
      %li
        %input(type="checkbox" name="type" checked)
        %label Ruby
      %li
        %input(type="checkbox" name="type" checked)
        %label Rails
    %ul.nav.nav-pills#mode
      %li.active
        %a(href='#') All
      %li
        %a(href='#') Classroom Based
      %li
        %a(href='#') Online Tutored
      %li
        %a(href='#') Online Self Study
      %li
        %a(href='#') Online Tutorials

  %section#resources
    %ul
      %li(ng-repeat= "resource in resources")
        %img(src="/images/snapshots/{{resource.slug}}.png")
        %dl
          %dt
            %h4 {{resource.name}}
            %a(href="{{resource.url}}")
              {{resource.url}}
          %dd
            %b Format:
            %p {{resource.format}}
            %b Cost:
            %p {{resource.cost}}
            %b Duration:
            %p {{resource.duration}}
            %b Coverage:
            %p {{resource.coverage}}
