!!! 5
%html(lang="en-US" ng-app="learnRubyAndRails")
  %head
    %title A Curated List of Resources for Ruby and Rails Learning
    %mta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css")
    %link(rel="stylesheet" href="/assets/application.css")
    %script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    %script(src="/assets/controllers.js")
    - if ENV['RACK_ENV'] == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34593566-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    = yield
