!!! 5
%html(lang="en-US" ng-app="learnRubyAndRails")
  %head
    %title A Curated List of Resources for Ruby and Rails Learning
    %mta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %link(rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css")
    %link(rel="stylesheet" href="/assets/application.css")
    %script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js")
    %script(src="/assets/controllers.js")
    %script(src="/assets/filters.js")
    = haml :google_analytics
  %body
    .container(ng-controller="AppController")
      = erb :add_this
      = yield
  %footer.container
    Curated by <a href="https://plus.google.com/102859674217012652161?rel=author"> Kevin Wang </a> (<a href="http://twitter.com/knwang">@knwang</a>). Tweet or email kevin at gotealeaf dot com to nominate a learning resource.
