body
  background: url('/images/background.png')
  header
    padding: 20px 0
    h1
      font-size: 20px
      margin: 0px
      color: #25271E
  ul#type
    list-style-type: none
    padding: 0
    margin: 0 0 20px 0
    overflow: hidden
    li
      float: left
      width: 100px
      label
        float: left
        margin-left: 10px
      input
        float: left
  ul#mode
    list-style-type: none
    overflow: hidden
    li
      float: left
      margin-right: 30px

