body
  background: url('/images/background.png')
  header
    padding: 20px 0
    h1
      font-size: 20px
      margin: 0px
      color: #25271E

section#navigation
  ul#type
    list-style-type: none
    padding: 0
    margin: 0 0 20px 0
    overflow: hidden
    li
      float: left
      width: 100px
      label
        float: left
        margin-left: 10px
      input
        float: left
  ul#mode
    list-style-type: none
    li
      float: left
      margin-right: 30px

section#resources
  overflow: hidden
  ul
    margin-left: 0
    list-style-type: none
    li
      overflow: hidden
      img
        margin-top: 5px
        float: left
      dl
        margin: 0
        padding: 0
        float: left
        margin-left: 50px
        dt
          margin-bottom: 10px
          h4
            margin-bottom: 5pk
            padding: 0
            font-size: 20px
            vertical-align: top
        dd
          margin: 0
          padding: 0
