body
  background: url('/images/bg.jpg')
  header
    padding: 20px 0
    h1
      font-size: 20px
      margin: 0px
      color: #25271E

section#navigation
  padding: 20px
  background-color: #E1E0DA
  dl
    padding: 0
    margin: 0 0 20px 0
    dt
      margin-left: 0
      margin-bottom: 10px
    dd
      float: left
      font-size: 12px
      margin-left: 0px
      span
        padding: 5px 10px
        margin-right: 10px
        font-weight: normal
        cursor: pointer
        line-height: 14px

  #courses, #costs
    display: none

section#resources
  margin: 0
  padding: 0
  > ul
    margin-left: 0
    list-style-type: none
    > li
      overflow: hidden
      border-top: 1px solid #E8E8E8
      padding: 20px
      img
        margin-top: 5px
        float: left
        width: 200px
      dl
        margin: 0
        padding-left: 50px
        overflow: hidden
        dt
          margin-bottom: 10px
          h4
            margin-bottom: 5pk
            padding: 0
            font-size: 20px
            vertical-align: top
        dd
          margin: 0
          padding: 0
          > ul
            margin-left: 0
            list-style-type: none
